.Header {
    background-image: -webkit-linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("./../../images/marvel.jpg");
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("./../../images/marvel.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 50vh;
}